
<!-- <%if(elem.imageurl===null){%>
	<div class="card post mt-5 mx-5" style="width: 30rem;">
		<img src="../images/user.png" class="card-img-top profilepic" alt="profilepic">
		<a href="/profile/currentUser>" style="text-decoration: none; color: black;">
			<h5 style="margin-left: 85px; margin-top: 19px;"><%=user.name%></h5>
		</a>
		<p style="margin-left: 85px; margin-top: -5px;"><%=user.headline%></p>
		<p style="margin-left: 28px; margin-top: 45px; margin-right: 15px; color: black;"><%=elem.postcontent%></p>
	</div>
		<%}else{%>


<%}%> -->



	<!-- <div class="card post mt-5 mx-5" style="width: 30rem;">
			<div id="con1"><img src="../images/user.png" class="card-img-top profilepic" alt="profilepic">
				<a href="/profile/currentUser>" style="text-decoration: none; color: black;">
					<h5 style="margin-left: 85px; margin-top: 19px;"><%=user.name%></h5>
				</a>
				<p style="margin-left: 85px; margin-top: -5px;"><%=user.description%></p></div>
				<div id="imgcard" style="width: 100%; height: 20rem; background-color: blue; background-position: center;">
				<img src="https://images.unsplash.com/photo-1640697462212-b6d88708be5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" style="width: 100%; height: 100%; object-fit: cover; background-position: center;" alt="">
				
				</div>
			
			<p style="margin-left: 28px; margin-top: 15px; margin-right: 15px; color: black;"><%=elem.postcontent%> </p>
		</div> -->